* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: -apple-system, sans-serif;
}

:root {
  --text-color: #000000;
  --bg-color: white;
  --main-color: #007f73;
  --snd-bg-color: #d5fdf9;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}
body {
  background-color: var(--bg-color);
  color: var(--text-color);
}
section {
  min-height: 100vh;
  padding: 10rem 9% 2rem;
}
/*header*/
header {
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 5%;
  background: var(--main-color);
  backdrop-filter: blur(10px);
  transition: all 0.5s ease;
}

.logo {
  font-size: 3rem;
  color: var(--bg-color);
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  cursor: pointer;
  transition: 0.3s ease;
}

.logo:hover {
  transform: scale(1.03);
  color: var(--text-color);
}
.navbar a {
  font-size: 1.9rem;
  color: var(--bg-color);
  margin-left: 4rem;
  font-weight: 700;
  transition: 0.3s ease;
}
.navbar a:hover {
  color: var(--text-color);
  transform: scale(1.1);
}
#menu-icon {
  font-size: 3.6rem;
  color: var(--bg-color);
  cursor: pointer;
  display: none;
}

/*home section*/
.home {
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-img img {
  width: 25vw;
  border-radius: 50%;
  box-shadow: 0 0 25px var(--main-color);
  cursor: pointer;
  animation: floatImage 4s ease-in-out infinite;
  transition: 0.4 ease;
}

.home-img img:hover {
  box-shadow: 0 0 25px var(--main-color), 0 0 35px var(--main-color),
    0 0 45px var(--main-color);
}
@keyframes floatImage {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-2.4rem);
  }
  100% {
    transform: translateY(0);
  }
}

.home-content {
  margin-left: 5rem;
  text-align: justify;
}

.home-content h3 {
  font-size: 3.7rem;
  font-weight: 700;
}
.home-content h3:nth-of-type(2) {
  margin-bottom: 2rem;
}
span {
  color: var(--main-color);
}

.home-content h1 {
  font-size: 6rem;
  font-weight: 700;
  line-height: 1.3;
}

.home-content p {
  font-size: 2rem;
}
.social-media a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 42px;
  height: 42px;
  background: transparent;
  border: 0.2rem solid var(--main-color);
  border-radius: 30%;
  font-size: 2rem;
  color: var(--main-color);
  margin: 3rem 1.5rem 3rem 0;
  transition: 0.3s ease;
}
.social-media a:hover {
  transform: scale(1.2) translateY(-10px);
  background-color: var(--main-color);
  color: var(--bg-color);
  box-shadow: 0 0 25px var(--main-color);
}
.btn {
  display: inline-block;
  padding: 1rem 2.8rem;
  background-color: var(--main-color);
  border-radius: 4rem;
  box-shadow: none;
  font-size: 1.8rem;
  color: var(--bg-color);
  letter-spacing: 0.1rem;
  font-weight: 600;
  transition: 0.3s ease;
}
.btn:hover {
  box-shadow: 0 0 1.6rem var(--main-color);
}

/*about section*/
.about {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  background: var(--snd-bg-color);
}
.about-img img {
  width: 25vw;
  border: 2px solid var(--main-color);
  border-radius: 50%;
  box-shadow: 0 0 25px var(--main-color);
  cursor: pointer;
  transition: 0.4 ease;
}

.about-img img:hover {
  box-shadow: 0 0 25px var(--main-color), 0 0 35px var(--main-color),
    0 0 45px var(--main-color);
}

.heading {
  font-size: 7rem;
  text-align: left;
}
.about-content {
  padding: 0.4rem;
  text-align: justify;
}

.about-content h2 {
  text-align: left;
  line-height: 1.2;
}

.about-content h3 {
  font-size: 4rem;
}
.about-content p {
  font-size: 2rem;
  margin: 2rem 0 3rem;
}

/*skills section*/
.skills .heading {
  text-align: center;
}
.skills-section {
  padding: 30px 0;
  background-color: rgb(255, 255, 255);
}

.skills-section h2 {
  text-align: center;
  font-size: 35px;
}

.skills-section .text {
  text-align: center;
  margin: 25px;
  font-size: 20px;
}

.skills-section .cells {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-bottom: 25px;
}

.skills-section .cells .cell {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

  width: 200px;
  padding: 10px 20px;
  margin: 10px;
  border: 1.5px solid #d3d3d3;
  border-radius: 5px;
}

.skills-section .cells .cell img {
  width: 30px;
  height: 30px;
  object-fit: contain;
  border-radius: 2px;
}

.skills-section .cells .cell span {
  font-size: 18px;
}
.skill-exp {
  padding-top: 10px;
  height: 50%;
  width: 100%;
  border-radius: 20px;
  font-size: 20px;
  text-align: center;
  border: 2px solid var(--main-color);
}
.persentase {
  padding: 50px;
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.persentase-skill {
  position: relative;
  width: 210px;
  height: 25px;
  background-color: #6bb46d;
  border-radius: 15px;
  overflow: hidden;
}
.text-persen-html {
  width: 65%;
  height: 100%;
  background-color: #43a047;
  display: grid;
  place-items: center;
}
.text-persen-css {
  width: 60%;
  height: 100%;
  background-color: #43a047;
  display: grid;
  place-items: center;
}
.text-persen-Csharp {
  width: 30%;
  height: 100%;
  background-color: #43a047;
  display: grid;
  place-items: center;
}

.text-persen-unity {
  width: 25%;
  height: 100%;
  background-color: #43a047;
  display: grid;
  place-items: center;
}
.text-persen-blender {
  width: 40%;
  height: 100%;
  background-color: #43a047;
  display: grid;
  place-items: center;
}
.persentase span {
  color: white;
}

/*projects section*/
.project {
  background-color: var(--snd-bg-color);
}
.project h2 {
  text-align: center;
  font-size: 5rem;
}

.project-contener {
  font-size: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  margin-top: 150px;
  text-align: center;
  overflow: hidden;
  flex-wrap: wrap;
}
.project-contener img {
  width: 350px;
  border-radius: 15px;
  transition: all ease 1.1s;
  margin: 20px;
}
.project-contener img:hover {
  scale: 1.1;
}

/*projects section*/
.contact {
  background: var(--bg-color);
}
.contact .heading {
  text-align: center;
}
.contact h2 {
  margin-bottom: 3rem;
  color: var(--main-color);
}
.contact form {
  max-width: 80rem;
  margin: 1rem auto;
  text-align: center;
  margin-bottom: 3rem;
}

.contact form .input-box {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.contact form .input-box input,
.contact form textarea {
  width: 100%;
  padding: 1.5rem;
  font-size: 1.6rem;
  color: var(--text-color);
  background-color: var(--bg-color);
  border-radius: 0.8rem;
  border: 0.25rem solid var(--main-color);
  margin: 0.7rem 0;
  resize: none;
}
.contact form .input-box input {
  width: 49%;
  margin: 0.7rem 0.35rem;
}

.contact form .btn {
  margin-top: 2rem;
}

/*footer section*/
.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  padding: 40px 0;
  background-color: var(--snd-bg-color);
}

.footer .social {
  text-align: center;
  padding-bottom: 25px;
  color: var(--main-color);
}

.footer .social a {
  font-size: 2rem;
  color: var(--main-color);
  border: 2px solid var(--main-color);
  width: 42px;
  height: 42px;
  line-height: 42px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  margin: 0 10px;
  transition: 0.3s ease;
}

.footer .social a:hover {
  transform: scale(1.2) translateY(-10px);
  background-color: var(--main-color);
  color: var(--bg-color);
  box-shadow: 0 0 25px var(--main-color);
}

.footer .copyright {
  margin-top: 20px;
  text-align: center;
  font-size: 16px;
  color: var(--text-color);
}

/* resposif media*/

@media (max-width: 1200px) {
  html {
    font-size: 55%;
  }
}
@media (max-width: 991px) {
  .header {
    padding: 2rem 3%;
  }
  .section {
    padding: 10rem 3%;
  }
  .skills {
    padding: 7rem;
  }
  .project {
    padding: 7rem;
  }

  .contact form .input-box input {
    width: 100%;
  }

  .footer {
    padding: 2rem 3%;
  }
}

@media (max-width: 991px) {
  #menu-icon {
    display: block;
  }
  .navbar {
    position: absolute;
    top: 100%;
    right: -100%;
    width: 255px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: var(--main-color);
    transition: all 0.5s ease;
    backdrop-filter: blur(10px);
  }
  .navbar a {
    display: block;
    padding: 17px;
    font-size: 22px;
  }

  .navbar .active {
    right: 0px;
  }
  .home {
    flex-direction: column;
  }

  .home-content h3 {
    font-size: 2.6rem;
  }
  .home-content h1 {
    font-size: 5rem;
  }

  .home-content {
    order: 2;
    margin-left: 1rem;
  }

  .home-img img {
    width: 70vw;
    margin-top: 4rem;
  }

  .about {
    flex-direction: column-reverse;
  }
  .about-img img {
    width: 70vw;
    margin-top: 4rem;
  }

  .skills .text {
    margin-bottom: 3rem;
    text-align: justify;
  }

  .project-contener img {
    margin-top: 5px;
    font-size: 1.5rem;
  }
  .skills-section .cells .cell {
    padding: 5px 14px;
    height: 50px;
  }
}

@media (max-width: 617px) {
  .home-img img {
    width: 70vw;
    margin-top: 8rem;
  }

  .about-img img {
    width: 70vw;
    margin-top: 4rem;
  }
}

@media (max-width: 617px) {
  html {
    font-size: 50%;
  }
}

/* java */
.popup .overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1;
  display: none;
}

.popup .content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  width: 450px;
  height: 220px;
  z-index: 2;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
  background-color: aliceblue;
}
.popup .close-btn {
  position: absolute;
  right: 20px;
  top: 20px;
  width: 30px;
  height: 30px;
  background: #222;
  color: #fff;
  font-size: 25px;
  font-weight: 600;
  line-height: 30px;
  text-align: center;
  cursor: pointer;
  border-radius: 50%;
}
.popup.active .overlay {
  display: block;
}
.popup.active .content {
  transition: all 800ms ease-in-out;
  transform: translate(-50%, -50%) scale(1);
}
.btn {
  cursor: pointer;
}
